<div id="<%= dom_id carbon_emission %>">
  <p>
    <strong>Item name:</strong>
    <%= carbon_emission.item_name %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= carbon_emission.category %>
  </p>

  <p>
    <strong>Period range:</strong>
    <%= carbon_emission.period_range %>
  </p>

  <p>
    <strong>Production area:</strong>
    <%= carbon_emission.production_area %>
  </p>

  <p>
    <strong>Carbon emission value:</strong>
    <%= carbon_emission.carbon_emission_value %>
  </p>

  <p>
    <strong>Unit:</strong>
    <%= carbon_emission.unit %>
  </p>

  <p>
    <strong>Announcement date:</strong>
    <%= carbon_emission.announcement_date %>
  </p>

</div>
